
.pomodoroContainer {
    padding: 1rem;
    background: rgba(255, 0, 191, 0.6);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    width: 18rem;
    margin-bottom: 1rem;
    border: 1px solid white;
}
h2{
    color: white;
    margin:0;
}
.pomodoroItem {
    width: 100%;
}
.label {
    font-size: 1rem;
    color: #000000;
}
.rowPomodoro {
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    text-align: center;
    color:white;
}
.playerButton {
    border-top: solid 3px yellow;
    padding-top: 12px;
}
.buttonRow {
    display: flex;
    justify-content: space-around;
}
.lengthTime {
    display: inline-block;
    padding: 0 20px 0 20px;
    font-size: 35px;
}
.btnUpdown {
    align-self: center;
    width: 30px;
    height: 30px;
    border: 1px solid white;
    background-color: transparent;
    border-radius: 100%;
    color: white;
}
.btnController {
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
}
/* Pomodoro item row */
.timeLeft {
    font-size: 5rem;
    font-weight: 700;
}

.emptyspace{
    height: 10px;
    width: 10px;
    background-color: red;
}

textarea{
    border-radius: 5px;
    border: 1px solid white;
    width: 91%;
    height: 8rem;
    background: rgba(81, 255, 0, 0.4);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
    padding: 1rem;
    color: yellow;
    
}

textarea::placeholder{
    color:yellow;
}

@media screen and (max-width: 768px){
    .pomodoroContainer{
        margin-bottom: 2rem;
        width: auto;
    }

    .rightContainer{
        width: 110%;
    }
}